* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.all {
  width: auto;
  overflow: hidden;
}
.layout {
  display: flex;
  height: auto;
  /* width: 100%; */
}

.content {
  background-color: #ffffff;
  width: 100%;
}
